<!doctype>
<html ng-app="myApp">
<head>

<title>Bracket App</title>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<style type="text/css">

/* Sticky footer styles -------------------------------------------------- */

html,
body {
    height: 100%; 
     width: 100%;
    position: absolute;
    left: -80px;
    right: -50px;
    top: 0px;
    margin: 0px;
    padding-right: 0px;
}

td {
    white-space: nowrap;
    width: 15px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%; /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    height: 60px;
}
#footer {
    background-color: #f0f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 900px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 1000px;
}
.container .credit {
    margin: 20px 0;
}

</style>

</head>
<body>

<script>
   var app = angular.module('myApp', []);

    app.controller('myCtrl', ['$scope', '$http', 

    function($scope, $http) {

        var refresh = function() {
            $http.get('/brackets2').success(function (response) {
                console.log("data recieved");
                $scope.brackets = response;
                $scope.contact = "";
                $scope.focus = angular.fromJson(window.localStorage['focus']);
                console.log($scope.focus);
            });
        };

        //DEPRICATED
        var log_in = function() {
            //console.log("trying");
            //$http.get('/users').success(function (response) {
             //   console.log("Login Successful");
            //});
        };

        refresh();
        log_in();

        $scope.addContact = function() {
            console.log($scope.contact);
            $http.post('/brackets2', $scope.contact).success(function (response) {
                console.log(response);
                refresh();
            });
        };

        $scope.remove = function(id) {
            console.log(id);
            $http.delete('/brackets2/' + id).success(function (response) {
                refresh();
            });
        };

        $scope.edit = function(id) {
            console.log(id);
            $http.get('/brackets2/' + id).success(function (response) {
                $scope.contact = response;
            });
        };

        $scope.update = function() {
            console.log($scope.contact._id);
            $http.put('/brackets2/' + $scope.contact._id, $scope.contact).success(function(response) {
                refresh();
            });
            
        };

        $scope.deselect = function() {
            $scope.contact = "";
        };

        $scope.view = function(id) {
            console.log("view called on" + id);
            //$scope.prop2 = "Second";
            $http.get('/view/' + id).success(function (response) {
                console.log(angular.toJson(response));
                console.log(focus);
                window.localStorage['focus'] = angular.toJson(response);
                //window.location.href = '/views/view.html';
            });
        };

        $scope.back = function() {
            console.log("going back");
            window.location.href = '/brackets.html';
        };

        $scope.home = function() {
            console.log("going home");
            window.location.href = '/profile.ejs';
        };

        $scope.goTo = function() {
            console.log("going to brackets");
            window.location.href = '/brackets.html';
        };

        $scope.login = function() {
            console.log("login successful");
            //window.location.href = '/profile.ejs'
        };

        $scope.logout = function() {
            console.log("Logging Out");
            $http.get('/logout').success(function (response) {
                console.log("Logging Out");
            });
        };
    }

])
</script>

    <div class = "container" ng-controller = "myCtrl">

        <h1><%= user.local.email %>'s 4x4 Brackets</h1>

        <table class = "table">
            <thead>
                <tr>
                    <th>Round 1 A</th>
                    <th>Round 1 B</th>
                    <th>Round 1 C</th>
                    <th>Round 1 D</th>
                    <th>Round 1 E</th>
                    <th>Round 1 F</th>
                    <th>Round 1 G</th>
                    <th>Round 1 H</th>
                    <th>Round 2 A</th>
                    <th>Round 2 B</th>
                    <th>Round 2 C</th>
                    <th>Round 2 D</th>
                    <th>Round 3 A</th>
                    <th>Round 3 B</th>
                    <th>Winner</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td><input class = 'form-control' ng-model = "contact.round1a"><a class="clear" ng-click="contact.round1a = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                 <td><input class = 'form-control' ng-model = "contact.round1b"><a class="clear" ng-click="contact.round1b = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                 <td><input class = 'form-control' ng-model = "contact.round1c"><a class="clear" ng-click="contact.round1c = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                 <td><input class = 'form-control' ng-model = "contact.round1d"><a class="clear" ng-click="contact.round1d = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                <td><input class = 'form-control' ng-model = "contact.round1e"><a class="clear" ng-click="contact.round1e = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                <td><input class = 'form-control' ng-model = "contact.round1f"><a class="clear" ng-click="contact.round1f = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                <td><input class = 'form-control' ng-model = "contact.round1g"><a class="clear" ng-click="contact.round1g = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                <td><input class = 'form-control' ng-model = "contact.round1h"><a class="clear" ng-click="contact.round1h = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                 <td><input class = 'form-control' ng-model = "contact.round2a"><a class="clear" ng-click="contact.round2a = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                 <td><input class = 'form-control' ng-model = "contact.round2b"><a class="clear" ng-click="contact.round2b = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                <td><input class = 'form-control' ng-model = "contact.round2c"><a class="clear" ng-click="contact.round2c = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                <td><input class = 'form-control' ng-model = "contact.round2d"><a class="clear" ng-click="contact.round2d = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                <td><input class = 'form-control' ng-model = "contact.round3a"><a class="clear" ng-click="contact.round3a = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                <td><input class = 'form-control' ng-model = "contact.round3b"><a class="clear" ng-click="contact.round3b = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                <td><input class = 'form-control' ng-model = "contact.winner"><a class="clear" ng-click="contact.winner = ''">
                <span class="glyphicon glyphicon-remove"></span>
                </a></td>
                 <td><button class="btn btn-success" ng-click="addContact()">Add Selection</button>
                 </td>
                 <td><button class ="btn btn-info" ng-click="update()">Update</button>
                 </td>
                 <td><button class ="btn btn-primary" style="padding: 5px 10px;" ng-click = "deselect()">Clear</button>
                 </td>
                </tr>
                <tr ng-repeat = "contact in brackets">
                    <td>{{contact.round1a}}</td>
                    <td>{{contact.round1b}}</td>
                    <td>{{contact.round1c}}</td>
                    <td>{{contact.round1d}}</td>
                    <td>{{contact.round1e}}</td>
                    <td>{{contact.round1f}}</td>
                    <td>{{contact.round1g}}</td>
                    <td>{{contact.round1h}}</td>
                    <td>{{contact.round2a}}</td>
                    <td>{{contact.round2b}}</td>
                    <td>{{contact.round2c}}</td>
                    <td>{{contact.round2d}}</td>
                    <td>{{contact.round3a}}</td>
                    <td>{{contact.round3b}}</td>
                    <td>{{contact.winner}}</td>
                    <td>
                     <a href = '/view' class ="btn btn-info" ng-click="view(contact._id)">View</a>
                    </td>
                    <td><button class = "btn btn-danger" ng-click="remove(contact._id)">Remove</button>
                    </td>
                    <td><button class =  "btn btn-warning" ng-click = "edit(contact._id)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="push"></div>
        </div>
            <div id="footer">
                <div class="container">
                    <a href = '/profile' class ="btn btn-success"><span class="glyphicon glyphicon-home"></span>  Navigate</a>
                    <a href = '/logout' class ="btn btn-warning"><span class="glyphicon glyphicon-hand-right"></span>  Logout</a>
                </div>
            </div>
        </div>

</body>

</html>
