<!doctype html>
<html>
<head>
    <title>Bracket Mangement Service</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style type = "text/css">
        body         { padding-top:80px; }
        .jumbotron{
            background-color: #f0f5f5;
            }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="glyphicon glyphicon-tower"></span> Bracket Mangement Service <span class="glyphicon glyphicon-tower"></span></h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-edit"></span> Signup</a>
    </div>

    <div class="text-center">
        <p>By Bob S., Kevin M., Bryan M., and Dontai O.</p>
    </div>

</div>
</body>
</html>
