<!DOCTYPE>
<html ng-app="myApp">

<link rel="stylesheet" href="flex.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

<div class = "container" ng-controller = "AppCtrl">
	<h1>Bracket: {{focus._id}}</h1>
	<body>
	<div class="tournament4-wrap">
		<table class="text-justify">
			<tr>
				<div class="round4-top winner4">{{focus.winner}}</div>
				<div class="round3-topwrap">
					<div class="round3-top">{{focus.round3a}}</div>
					<div class="round2-top">{{focus.round2a}}</div>
					<div class="round2-bottom">{{focus.round2b}}</div>
				</div>
			</tr>
			<tr>
				<div class="round3-bottomwrap">
					<div class="round3-bottom">{{focus.round3b}}</div>
					<div class="round2-top">{{focus.round2c}}</div>
					<div class="round2-bottom">{{focus.round2d}}</div>
				</div>
			</tr>
			<tr>
				<div class="round2-topwrap">
					<div class="round2-top">{{focus.round2a}}</div>
					<div class="round1-top">{{focus.round1a}}</div>
					<div class="round1-bottom">{{focus.round1b}}</div>
				</div>
			</tr>
			<tr>
				<div class="round2-bottomwrap">
					<div class="round2-bottom">{{focus.round2b}}</div>
					<div class="round1-top">{{focus.round1c}}</div>
					<div class="round1-bottom">{{focus.round1d}}</div>
				</div>
			</tr>
			<tr>
			<div class = "container" ng-controller = "AppCtrl">
				<button class ="btn btn-success" ng-click="back()">Back</button>
				<button class =  "btn btn-info" ng-click = "home()">Home</button>
				<button class ="btn btn-warning" ng-click="logout()">Logout</button>
			</div>
			</tr>
		</table>
	</div>
	
	</body>

</div>



<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<script src = "controllers/controller.js"></script>

</html>