<!doctype>
<html ng-app="myApp">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<style type="text/css">

.tournament4-wrap, .tournament8-wrap, .tournament16-wrap, .tournament32-wrap {
  text-align: center;
  font-family: "Verdana";
  font-size: 1.875em;
}

/****** round 1 ******/
.round1-top, .round1-bottom {
  float: left;
  width: 150px;
  height: 2em;
}

.round1-top {
  line-height: 2.5em;
}

.round2-topwrap .round1-bottom {
  width: 149px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.round2-bottomwrap .round1-top {
  width: 149px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

/****** round 2 ******/

.round2-top, .round2-bottom {
  float: right;
  width: 150px;
  height: 4em;
}

.round2-top {
  line-height: 6.5em;
}


.round3-topwrap .round2-bottom {
  width: 149px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.round3-bottomwrap .round2-top {
  width: 149px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

.tournament4-wrap .round2-top {
  border-bottom: 2px solid #000;
}

.round2-topwrap, .round2-bottomwrap {
  float: left;
  width: 300px;
  height: 4em;
}

/****** round 3 ******/

.round3-top, .round3-bottom {
  float: right;
  width: 150px;
  height: 8em;
}

.round3-top {
  line-height: 14.5em;
}

.round4-topwrap .round3-bottom {
  width: 149px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.round4-bottomwrap .round3-top {
  width: 149px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

.tournament8-wrap .round3-top {
  border-bottom: 2px solid #000;
}

.round3-topwrap, .round3-bottomwrap, .tournament4-wrap {
  float: left;
  width: 450px;
  height: 8em;
}

/****** styles for the winner column ******/
.winner3, .winner4, .winner5, .winner6 {
	font-weight: bold;
	font-style: italic;
}

.winner3 {
	line-height: 8em;
}

.winner4 {
	line-height: 16em;
}

/* Sticky footer styles -------------------------------------------------- */

html,
body {
    height: 100%; 
     width: 100%;
    position: relative;
    left: -50px;
    right: 0px;
    top: 0px;
    margin: 0px;
    padding-right: 0px;
}

table {
  max-width: 400px;
}

/* Wrapper for page content to push down footer */
#wrap {
	position: relative;
    left: 50px;
	min-height: 100%;
	height: auto !important;
	height: 100%; /* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 60px;
}
#footer {
	background-color: #f0f5f5;
}

#vertcent {
	position: center;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 900px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
	width: auto;
	max-width: 1000px;
}
.container .credit {
	position: center;
	margin: 20px 0;
}

</style>
 
</head>
<body>

<script>
   var app = angular.module('myApp', []);

    app.controller('myCtrl', ['$scope', '$http', 

    function($scope, $http) {

        var refresh = function() {
            $http.get('/contactlist').success(function (response) {
                console.log("data recieved");
                $scope.contactList = response;
                $scope.contact = "";
                $scope.focus = angular.fromJson(window.localStorage['focus']);
                console.log($scope.focus);
            });
        };

        //DEPRICATED
        var log_in = function() {
            //console.log("trying");
            //$http.get('/users').success(function (response) {
             //   console.log("Login Successful");
            //});
        };

        refresh();
        log_in();

        $scope.addContact = function() {
            console.log($scope.contact);
            $http.post('/contactlist', $scope.contact).success(function (response) {
                console.log(response);
                refresh();
            });
        };

        $scope.remove = function(id) {
            console.log(id);
            $http.delete('/contactlist/' + id).success(function (response) {
                refresh();
            });
        };

        $scope.edit = function(id) {
            console.log(id);
            $http.get('/contactlist/' + id).success(function (response) {
                $scope.contact = response;
            });
        };

        $scope.update = function() {
            console.log($scope.contact._id);
            $http.put('/contactlist/' + $scope.contact._id, $scope.contact).success(function(response) {
                refresh();
            });
            
        };

        $scope.deselect = function() {
            $scope.contact = "";
        };

        $scope.view = function(id) {
            console.log("view called on" + id);
            //$scope.prop2 = "Second";
            $http.get('/view/' + id).success(function (response) {
                console.log(angular.toJson(response));
                console.log(focus);
                window.localStorage['focus'] = angular.toJson(response);
                //window.location.href = '/views/view.html';
            });
        };

        $scope.back = function() {
            console.log("going back");
            window.location.href = '/brackets.html';
        };

        $scope.home = function() {
            console.log("going home");
            window.location.href = '/profile.ejs';
        };

        $scope.goTo = function() {
            console.log("going to brackets");
            window.location.href = '/brackets.html';
        };

        $scope.login = function() {
            console.log("login successful");
            //window.location.href = '/profile.ejs'
        };

        $scope.logout = function() {
            console.log("Logging Out");
            $http.get('/logout').success(function (response) {
                console.log("Logging Out");
            });
        };
    }

])
</script>

    <div class = "container" ng-controller = "myCtrl">

    	<title>Bracket: {{focus.round1a}} {{focus.round1b}} {{focus.round1c}} {{focus.round1d}}</title>

    	
<!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Bracket: {{focus._id}}</h1>

    	<div class="tournament4-wrap">
		<table class="text-justify" >
			<tr>
			<div class="round3-top winner3">{{focus.winner}}</div>
				<div class="round2-topwrap">
					<div class="round2-top">{{focus.round2a}}</div>
					<div class="round1-top">{{focus.round1a}}</div>
					<div class="round1-bottom">{{focus.round1b}}</div>
				</div>
			</tr>
			<tr>
				<div class="round2-bottomwrap">
					<div class="round2-bottom">{{focus.round2b}}</div>
					<div class="round1-top">{{focus.round1c}}</div>
					<div class="round1-bottom">{{focus.round1d}}</div>
				</div>
			</tr>
		</table>
		</div>
    </div>

      <div id="push"></div>
    	</div>
			<div id="footer">
      			<div class="container">
					<a href = '/brackets' class ="btn btn-success">Back</a>
					<a href = '/profile' class = 'btn btn-info'>Navigate</a>
					<a href = '/logout' class ="btn btn-warning"><span class="glyphicon glyphicon-hand-right"></span> Logout</a>
				</div>
      		</div>
  		</div>

</body>

</html>
